name: Build and Test

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    name: install test
    steps:
      - name: Install Octopus CLI
          uses: OctopusDeploy/install-octopus-cli-action@v1.2.1
          with:
            version: 7.4.3663
